<!-- <p>Hi <%= @user.first_name %>,</p>
<p> Your drawing has just been booked by an artist! </p>
<p> You'll hear from us again when the collaboration is ready. </p>
<p>With love,</p>
<p>Team DreamCoLab</p> -->