// Specific CSS for your home-page
// Banner Top
.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: absolute;
}

.banner h1 {
  margin: 0;
  font-family: 'Covered By Your Grace', cursive;
  color: #50C878;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 70px;
  font-weight: bold;
  text-shadow: 1px 1px 2px;
}

.banner p {
  font-size: 30px;
  font-family: 'Cutive Mono', monospace;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container-homepage {
  margin-left: 40px;
  padding: 40px;
  z-index: 100;
}

// Home carousel
#home-carousel {
  position: relative;
}

// DreamCoLab Intro
.card-join-community {
  align-items: center;
  // border-bottom: 2px solid #b9e1dc;
}

.card-join-community h3 {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  color: #756c83;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 40px;
  text-shadow: 1px 1px 2px;
}

.card-join-community a {
  background-color: #f38181;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Cutive Mono', monospace;
  font-size: 20px;
  margin-bottom: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.brand-card {
margin: 0 auto;
padding: 20px;
border-top: 2px solid  #b9e1dc;
}

.brand-card-gallery {
    display: flex;
    justify-content: space-between;

}

.brand-card h1 {
  align-text: center;
  font-family: 'Shadows Into Light', cursive;
  color: #756c83;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px;
}

.brand-card p {
  font-family: 'Cutive Mono', monospace;
  color: black;
  font-size: 20px;
}

.brand-card i {
  color: #f38181;
  font-size: 30px;
  margin-top: 30px;
}

.image-card {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  .image {
    width: 100%;
    height: 250px;
    object-fit:cover;
    margin: 5px;
    box-shadow: 2px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

}
}

.image-logo {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 0;
}

body {
  background-size: cover;
}
