.container {
  border: 4px solid #756c83;
  margin-top: 80px;
  background-color: #fffaf1;
  padding-left: 0;
}
.container .image {
  width: 100%;
}

.container-login {
  margin-left: 30px;
  margin-right:30px;
}

.container img {
  margin-top: 0;
  margin-left: 0;
  height: 100%;
  width: auto;
  margin-right: 0;
}

.container h1 {
  margin-top: 20px;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  color:  #50C878;
  padding: 10px;
  text-align: center;
}

.button-register {
  background-color: #756c83;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px
}

.button-register:hover {
  opacity: 0.8;
  color: #50C878;
}
