// Blogs and posts

$primary: #50C878;
$text-color: #363738;
body{
  background: #fbfbfb;
}
.date__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ccc;
  border: 4px solid;
  font-weight: bold;
  padding: 5px 10px;
  .date__day{
    font-size: 22px;
  }
}
.blog-card {
  margin: 0 auto;
  width: 80vw;
  padding: 30px;
  position: relative;
  box-shadow: 1px 1px 20px;
  margin-bottom: 40px;
  .date__box {
    opacity: 0;
    transform: scale(0.5);
    transition: 300ms ease-in-out;
  }

  // .blog-card img {
  //  image-fit: cover;
  //  width: 100%;
  // }

  .blog-card__background,
  .card__background--layer{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .blog-card__background {
    padding: 15px;
    background: white;
  }
  .card__background--wrapper{
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
    position: relative;
    overflow: hidden;
  }

  .card__background--main img{
    height: 100%;
    width: 100vw;
    position: relative;
    transition: 300ms ease-in-out;
    background-repeat: no-repeat;
    background-size: center;
  }
  .card__background--layer {
    z-index: 0;
    opacity: 0;
    background: rgba(#333, 0.9);
    transition: 300ms ease-in-out;
  }
  .blog-card__head {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blog-card__info{
    font-family: 'Cutive Mono', monospace;
    width: 50%;
    z-index: 10;
    background: white;
    padding: 20px 15px;
    h5 {
      font-family: 'Covered By Your Grace', cursive;
      color: #f38181;
      font-size: 35px;
      transition: 300ms ease-in-out;
    }
  }
  &:hover {
    .date__box{
      opacity: 1;
      transform: scale(1);
    }
    .card__background--main {
      transform: scale(1.2) rotate(5deg);
    }
    .card__background--layer {
      opacity: 1;
    }
    .blog-card__info{
      h5{
        color: $primary;
      }
    }
  }
}

a.icon-link {
  color: $text-color;
  transition: 200ms ease-in-out;
  i {
    color: $primary;
  }
  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

.btn-post {
  background: white;
  color: $text-color;
  font-weight: bold;
  outline: none;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 0;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding: 0px 10px 0px 10px;
  border: none;
  &:focus {
    box-shadow: none;
  }
  &:hover {
    background: $primary;
    color: #fff;
  }
  .btn--with-icon {
    padding: 20px;
  }
  &.btn--only-icon {
    width: 50px;
  }
}

// POSTS SHOW page-break-inside:
.post-content h3 {
  font-family: 'Cutive Mono', monospace;
  color: black;
}

.post-story {
  padding: 30px;
}


.post-image img {
  margin-top: 30px;
  margin-bottom: 40px;
  width: 70vw;
  height: auto;
}
