<% @drawings.each do |drawing| %>
  <div class="card">
    <p><%= cl_image_tag drawing.image %></p>
    <p><%= drawing.created_at %></p>
    <p><%= drawing.updated_at %></p>
    <!-- <p><%#= drawing.status %></p> -->
    <p><%= drawing.name %></p>
  </div>
<% end %>