<div class="title text-center">
  <h1>About Us</h1>
  <div class="about-body col-sm-8 offset-sm-2 text-center">
    <div class="company-description text-center">
      <p>dreamco lab is a collaborative platform that connects hospitalized children to creatives. Children can share their fantasy characters through their own drawings; we then connect them with talented artists from around the world who can bring the drawing to life through their own form of artistic talent and creativity. Together as a team, they can share their cross-cultural collaboration with the world.</p>
    </div>
  </div>
</div>

<div class="title text-center">
    <h1>Meet Our Team</h1>
</div>
<div class="team-info col-sm-8 offset-sm-2">
  <div class="team-members">
    <div class="name-description">
      <h2>Ivy</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem adipisci ullam animi distinctio dolores, sint. Similique facere dignissimos assumenda debitis velit porro soluta et repellendus commodi? Architecto, consequuntur dolore ullam!</p>
      <div class="member-links">
          <a href="#"><i class="fas fa-envelope"></i></a>
          <a href="#"><i class="fab fa-weixin"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
      <%= image_tag "dezio.png", class:"avatar-bordered-xl"%>
  </div>

  <h2>Nini</h2>
  <h2>Sylvia</h2>
  <h2>Carmen</h2>
</div>

<div class="title text-center my-3">
  <h1>Our Partners</h1>
  <div class="d-flex justify-content-around col-sm-8 offset-sm-2">
  <%= image_tag "!NK copia.png", class:"partner-logo" %>
  <%= image_tag "H2H_logo.png", class:"partner-logo" %>
  <%= image_tag "SITD_logo.jpg", class:"partner-logo" %>
  </div>
</div>

