.button-gallery {
  background-color: #756c83;
  color: white;
  font-weight: bold;
  font-family: 'Josefin Slab', serif;
  font-size: 24px;
  box-shadow: 1px 1px 5px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  width: 20vw;
  justify-content: center;
  bottom: 15px;
  position: absolute;
  left: 38%;
&:hover {
  color: #98d3bb;
  text-decoration: none;
}
}

.btn-sign-in {
  color: #f38181;
  background-color: #fbfbfb;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
  border: 1px solid #756c83;

}

.btn-view-more {
  border-radius: 24px;
  padding: 10px;
  background-color: #756b83;
  color: white;
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
}

.login-buttons {
  font-family: 'Cutive Mono', monospace;
  font-size: 15px;
  border: 2px solid lightgrey;
  background-color: lightgrey;
  margin-top: 5px;
  margin-left: 20px;
  padding: 5px;
  border-radius: 10px;
  color: black;
  margin-right: 20px;
  &:hover{
    color: #756b83;
  }
}
// simple form submit button "collab complete"


.complete-collab-button {
  background-color: #f38181;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  font-family: 'Cutive Mono', monospace;
  font-size: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// download

.fa-cloud-download-alt {
    font-size: 50px;
    color: #756c83;
    opacity: 0.5;
  &:hover{
    opacity: 1;
  }
}
// edit account buttons
.back-button a {
font-family: 'Cutive Mono', monospace;
color: black;
background-color: white;
}


// MEDIA & RESPONSIVENESS

@media only screen and (max-width: 770px) {

.button-gallery {
  bottom: 145px;
  width: 80vw;
  left: 11%;
}
}

@media only screen and (min-width:771px) and (max-width:1070px) {
        //TABLET ONLY STYLES
.button-gallery {
  bottom: 78px;
  width: 60vw;
  height: 4vh;
  left: 22%;
}

.row {
    margin-right: -100px;
    margin-left: -100px;
}
}
