.btn-sign-in {
  color: #f38181;
  background-color: #fbfbfb;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
  border: 1px solid #756c83;

}


.btn-view-more {
  border-radius: 24px;
  padding: 10px;
  background-color: #50C878;
  color: black;
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
}

// simple form submit button "collab complete"


.complete-collab-button {
  background-color: #f38181;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  font-family: 'Cutive Mono', monospace;
  font-size: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// download

.fa-cloud-download-alt {
    font-size: 50px;
    color: #50C878;
    opacity: 0.5;
  &:hover{
    opacity: 1;
  }
}


