.btn-sign-in {
  color: #f38181;
  background-color: #fbfbfb;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
  border: 1px solid #756c83;

}

.btn-view-more {
  border-radius: 24px;
  padding: 10px;
  background-color: #50C878;
  color: black;
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
}
