// Dream Gallery Cards

.card-collab {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
  width: 400px;
  }

.my-art-card {
  // display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-collab > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-collab h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-collab p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-collab .card-collab-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-collab-infos .card-collab-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// Drawings Index Cards
