
.container img {
  margin-top: 20px;
}

#kid-avatar img {
 margin-top: 0 !important;
}

.art-card {
  overflow: hidden;
  background: #fbfbfb;
  box-shadow: 0 0 25px rgba(0,0,0,0.4);
  margin: 30px auto;
  object-fit: cover;
  height: 500px;
  width: 400px;
  max-width: 90vw;

}

.art-card img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  margin-top: 10px;
  padding: 20px;
}

.art-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.art-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

// This flexes the title and kid info
.art-card .art-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 6px;
}

// this makes the avatar sit ontop of the name
.art-card-infos .art-card-user {
  position: absolute;
  right: 16px;
  top: -15px;
  width: 40px;
}

// Kid's name on art card
.art-card-name {
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
}
