.footer {
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  background:rgba(0,0,0,0.2);
  bottom: 0;
  width: 100%;

}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #756c83;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #f38181;
}

.footer-copyright {
  font-family: 'Josefin Slab', serif;
  font-size: 25px;
}
