.session-form {
  margin: 0 auto;
  // border: 2px solid white;
  padding: 30px;
  margin-top: 20px;
  h2 {
    color: black;
    font-weight: bold;
    font-family: 'Cutive Mono', monospace;
  }
}

// Upload your new drawing here!
.container-drawing h1 {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 50px;
  color: #756c83;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.container-edit h3 {
  font-family: 'Cutive Mono', monospace;
  color: black;
}

// This makes the footer at the bottom of shorter pages
// .full-height-page {
//   min-height: 100vh;
// }

.container-edit h2 {
  font-family: 'Shadows Into Light', cursive;
  color: #98d3bb;
  font-size: 50px;
  margin-top: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 2px;
}

.container-edit {
  display: flex;
  flex-direction: column;
  padding: 80px;
  align-content: center;
}

// drawing show page flexed
.drawing-show-all {
  display: flex;
  justify-content: center;
  padding: 30px;
  flex-wrap: wrap;
}
