.navbar-dreamcolab {
  background-color:  #fbfbfb;
  width: 100%;
  color: #50C878;
  box-shadow: rgba(0,0,0,0.2);
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-dreamcolab .navbar-collapse {
  flex-grow: 0;
  width: 100vw;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;

}

.navbar-dreamcolab .navbar-brand img {
  max-width: 360px;
  height: 80px;
}

.navbar #navbarSupportedContent .navbar-nav .nav-item .nav-link {
  color: grey;
  font-family: 'Josefin Slab', serif;
  font-size: 22px;
  margin-top: 15px;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

// home only navbar

.navbar-home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // position: absolute;
  text-align: right;
  background-color: white;
  right:20px;
  padding: 10px;
  width: 100vw;
}

.nav-link-home {
  align-text: right;
  font-family: 'Josefin Slab', serif;
  color: black;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
  font-size: 20px;
}

.logins {
  display: flex;
  flex-direction: column;
}


