.navbar-dreamcolab {
  justify-content: space-between;
  background-color:  #fbfbfb;
  background:rgba(0,0,0,0.2);
  width: 100%;
  color: #b9e1dc;
  box-shadow: rgba(0,0,0,0.2);
}

.navbar-dreamcolab .navbar-collapse {
  flex-grow: 0;
}

.navbar-dreamcolab .navbar-brand img {
  width: 60px;
}

#logo-name {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 30px;
}

.navbar #navbarSupportedContent .navbar-nav .nav-item .nav-link {
  color: black;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

// home only navbar

.navbar-home {
  position: absolute;
  right:20px;
  padding:20px;
}

.nav-link-home {
  align-text:right;
  font-family: 'Cutive Mono', monospace;
  color: #f38181;
  margin-right: 20px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 25px;
}


