.tagging i {
  color:  #756c83;
   font-size: 20px;

}

.tag-box {
  color: #756c83;
  font-weight: bolder;
  background:  #b9e1dc;
  padding: 2px 7px;
  margin: 4px;
  font-family: 'Cutive Mono', monospace;
  font-size: 20px;
  border-radius: 5px;

}
