.title h1 {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 60px;
  color: #756c83;
  margin-top: 30px;
  margin-bottom: 50px;
  text-shadow: 1px 1px 2px;
}

// Kid's art title on art card
.title h4 {
  font-family: 'Shadows Into Light', cursive;
  color: #f38181;
  font-size: 25px;
}

// .container h1 {
//   font-family: 'Shadows Into Light', cursive;
//   font-weight: bold;
//   background-color: #50C878;
//   color: #756c83;
//   border: 2px solid #756c83;
//   padding: 20px;
//   text-align: center;
//   width: 70%;

// }
